@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins" , sans-serif;
}


:root{
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #7b4bb7;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    font-family: "poppins" , sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
 background: rgba(0, 0, 0, 0.7);
 filter: drop-shadow(10px);
 display: flex;
 justify-content: space-between;
 align-items: center;
 z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
color: var(--main-color);
display: none;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
@media (max-width: 995px) {
 #menu-icon{
    display: block;
 }   
 .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background: var(--second-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: none;
 }
 .navbar.active {
    display: block;
 }
 .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
 }
.navbar:hover,
.navbar.navbar.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--main-color);
}
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}
.home .home_content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: var(--main-color);
}
.home_content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home_img{
    border-radius: 50%;
}
.home_img img{
    position: relative;
    width: 30vw;
/* border-radius: 310px; */
border-radius: 50%;
box-shadow: 0 0 25px var(--main-color);
cursor: pointer;
}

.home_img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
}
.home_content p{
    font-size: 1.8rem;
    font-weight: 500;
}
.social_icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
/* .social_icon a:hover{

} */